@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    width: 100vw;
    // height: 100vh;

}

.container {

    width: 100vw;
    height: 100vh;
}

//---------------------------END OF UNIVERSAL CODE------------------------------------

.container-items-top {
    display: flex;
    justify-content: center;

}

.header {
    width: 60vw;
    background-color: aquamarine;
    background-image: url('/images/desktop-image-hero-1.jpg');
    background-size: cover;
    height: 73vh;
}

.navbar {
    width: 50%;
    display: flex;
    margin-top: 64px;
    margin-left: 64px;
    align-items: center;
    justify-content: space-between;
    // background-color: blueviolet;


    .brand-title {
        padding-right: 30px;
        padding-top: 5px;
        align-self: center;
    }

    ul {
        display: flex;
        align-content: center;
    }

    li {
        list-style: none;
        padding-right: 32px;
        // outline: 1px solid white;
    }

    a {
        text-decoration: none;
        color: #fff;
        line-height: 13px;
        letter-spacing: 0.5px;
        text-transform: lowercase;
        font-size: 12px;
    }

    .burger {
        display: none;
    }
}

.hero-image {
    width: 840px;
    height: 534px;
    grid-area: header;
}

.hero-image-1 {
    background-image: url('/images/desktop-image-hero-1.jpg');
}

.title-text-2,
.title-text-3 {
    display: none;
}

.hero-title {
    position: relative;
    width: 40vw;
    height: 73vh;
    background-color: rgb(90, 89, 89);

    .main-text {
        margin: 0 auto;
        width: 70%;
        padding-top: 25%;
        color: rgb(184, 182, 182);
        font-size: 40px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: -1.6px;
    }

    .body-text {
        margin: 0 auto;
        width: 70%;
        padding-top: 22px;
        text-align: left;
        color: rgb(184, 182, 182);
        line-height: 26px;
        letter-spacing: -0.25px;
    }

    .text {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 10px;
        margin: 0 auto;
        width: 70%;
        padding-top: 38px;
        color: rgb(184, 182, 182);

        &:hover {
            cursor: pointer;
        }
    }

    .btn-icon {
        display: inline-block;
    }

    .arrow-icons {
        display: flex;
        position: absolute;
        bottom: 0;

        .fas {
            color: #fff;
            font-size: 30px;
            background-color: black;
            width: 80px;
            height: 80px;

            &:hover {
                background-color: grey;
                cursor: pointer;
            }
        }

        .fa-chevron-left,
        .fa-chevron-right {
            text-align: center;
            padding: 25px 25px;
        }

    }
}

.container-items-bottom {
    width: 100vw;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-content: center;
    // background-color: rgb(226, 43, 113);
}

.about-us-container {

    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    // background-color: blueviolet;
    margin: 0 auto;

    .about-us-container-texts {
        width: 65%;
        // background-color: burlywood;
        margin: 0 auto;
    }

    .about-us-title {
        font-size: 12px;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 5px;
        color: black;
        text-transform: uppercase;
    }

    .about-us-body {
        width: 100%;
        padding-top: 12px;
        color: #A0A0A0;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.25px;
    }
}

.sample-img-1,
.sample-img-2 {
    background-repeat: no-repeat;
    width: 40vw;
    height: auto;
}

.sample-img-1 {
    background-image: url('/images/image-about-dark.jpg');

}

.sample-img-2 {
    background-image: url('/images/image-about-light.jpg');

}


//----------MEDIA QUERY FOR MOBILE------------------

@media screen and (min-width: 300px) and (max-width: 767px) {

    .body {
        height: 1500px;
    }

    .container {
        width: 100%;
        height: 100%;
    }

    .container-items-top {
        flex-direction: column;
    }

    .header {
        width: 100vw;
        background-image: url('/images/mobile-image-hero-1.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 360px;
    }

    .navbar {
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .hero-title {
        width: 100vw;

        .main-text,
        .body-text {
            width: 85vw;
        }

        .main-text {
            font-size: 30px;
        }
    }

    .arrow-icons {
        top: -80px;
        right: 0;

    }

    .burger {
        display: block;

        &:hover {
            cursor: pointer;
        }
    }

    .burger div {
        align-content: center;
        width: 30px;
        height: 5px;
        background-color: rgb(109, 46, 46);
        margin: 5px;
    }

    // --------------------------------------------

    .container-items-bottom {
        flex-direction: column;
    }


}