@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    width: 100vw;
    position: relative;
}

html,
body {
    overflow-x: hidden !important;
}

.container {
    overflow-x: hidden;
    
    width: 100vw;
    height: 100vh;
}

//---------------------------END OF UNIVERSAL CODE------------------------------------

.container-items-top {
    display: flex;
    flex-direction: column;
    height: 769px;
    width: 100%;
}

.header {
    width: 100%;
    height: 45%;
    background-image: url('/images/mobile-image-hero-1.jpg');
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    align-items: center;
    padding: 0 10%;
    font-size: 12px;
    
}

.brand-title {
    margin: 0 auto;
    order: 2;

    &:hover {
        cursor: pointer;
    }
}

.nav-links {
    display: none;
    background-color: white;
    order: 3;
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 100vw;
    position: absolute;
    left: 1000px;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;

    font-size: 12px;
    line-height: 13.44px;
    letter-spacing: -0.5px;
    z-index: 40;

    ul {
        padding-left: 20%;

        display: flex;
        text-decoration: none;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        text-transform: lowercase;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                height: 3px;
                bottom: -10px;
                margin-top: 15px;
                width: 0%;
                background: black;
                transition: width .3s;
                -webkit-transition: width .3s;
                -moz-transition: width .3s;
                -ms-transition: width .3s;
                -o-transition: width .3s;
            }

            &:hover::after {
                width: 100%;
            }
        }

        li {
            padding: 0 15px;
            list-style: none;
        }

        @media screen and (max-width: 350px) {
            padding-left: 20%;

            li {
                padding: 0 10px;

            }
        }
    }
}


.burger {
    order: 1;
    cursor: pointer;
    background-image: url('/images/icon-hamburger.svg');
    width: 20px;
    height: 14px;
    position: relative;
    z-index: 50;

}

.toggle-close {
    cursor: pointer;
    background-image: url('/images/icon-close.svg');
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-active {
    left: 0;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 72px;
    width: 85%;
    position: relative;
}

.main-text {
    color: black;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1.17px;
}

.body-text {
    padding-top: 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #a0a0a0
}

.cta {
    display: flex;
    padding-top: 52px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: black;

    .text {
        cursor: pointer;
    }
}

.arrow-icons-desktop {
    display: none;
}

.long-arrow {
    cursor: pointer;
    background-image: url('/images/icon-arrow.svg');
    width: 40px;
    height: 12px;
    margin-left: 43px;
}

.arrow-icons {
    display: flex;
    position: absolute;
    top: -128px;
    right: -31px;

    .arrow-right,
    .arrow-left {
        width: 56px;
        height: 56px;
        background-color: black;

        &:hover {
            background-color: #444444;
            cursor: pointer;
        }
    }
}

.arrow-right,
.arrow-left {
    width: 8.4px;
    height: 16.8px;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-right {
    background-image: url('/images/icon-angle-right.svg');
}

.arrow-left {
    background-image: url('/images/icon-angle-left.svg');
}

.container-items-bottom {
    display: flex;
    flex-direction: column;
}

.sample-img-1 {
    background-image: url("/images/image-about-dark.jpg");
    height: 238px;
    width: 100vw;
}

.about-us-container {
    display: flex;
    flex-direction: column;

}

.about-us-container-texts {
    padding: 56px 0;
    align-self: center;
    width: 85%;

}

.about-us-title {
    color: black;
    text-align: left;
    letter-spacing: 5px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

.sample-img-2 {
    background-image: url("/images/image-about-light.jpg");
    height: 238px;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*=============================================
=            MEDIA QUERIES            =
=============================================*/

@media screen and (min-width: 768px) {

    .nav-links {
        ul {
            padding-left: 30%;

            li {
                padding: 0 25px;
            }
        }
    }


    .header {
        height: 60%;
        background-image: url('/images/desktop-image-hero-1.jpg');
    }

    .arrow-icons {
        right: -59px;
    }

    .sample-img-1,
    .sample-img-2 {
        height: 360px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}


@media screen and (min-width: 1280px) {

    .container {
       
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
    }

    .container-items-top {

        width: 100vw;
        grid-row: 1/2;
        flex-direction: row;
        height: 100%;

    }

    .container-items-bottom {
        grid-row: 2/3;
        flex-direction: row;
        width: 100vw;
        height: 100%;
    }


    .header {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 62%;
        height: 100%;
        background-image: url('/images/desktop-image-hero-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav {
        margin-top: 40px;
       a {
        font-weight: 600;
        font-size: 14px;
       }
    }

    /* IMAGES */

    .header2 {
        background-image: url('/images/desktop-image-hero-2.jpg');
    }

    .header3 {
        background-image: url('/images/desktop-image-hero-3.jpg');
    }

    // ------------------------------------------------------

    .brand-title {
        order: 1;
        margin: 0;
    }

    .burger {
        display: none;
    }

    .nav-links {
        background-color: rgba(255, 255, 255, 0);
        left: -10%;
        order: 2;

        ul {
            a {
                color: #fff;
                font-weight: normal;

                &::after {
                    background: #fff;
                }
            }

            li {
                padding: 0 15px;
            }
        }
    }

    .hero-title {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 100%;
        padding-top: 120px;
        padding-bottom: 153px;
        padding-left: 100px;
        padding-right: 100px;
        width: 40%;
        position: relative;
    }

    .main-text {
        font-size: 40px;
        line-height: 44.8px;
        letter-spacing: -1.67px;
    }

    .arrow-icons {
        display: none;
    }

    .arrow-icons-desktop {
        display: flex;
        position: absolute;
        bottom: 36px;
        left: 0;

        .arrow-right-desk,
        .arrow-left-desk {
            width: 80px;
            height: 80px;
            background-color: black;

            &:hover {
                background-color: #444444;
                cursor: pointer;
            }
        }        
    }

    .arrow-right-desk,
    .arrow-left-desk {
        width: 12px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .arrow-right-desk {
        background-image: url('/images/icon-angle-right.svg');
    }

    .arrow-left-desk {
        background-image: url('/images/icon-angle-left.svg');
    }


    .sample-img-1,
    .sample-img-2 {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-us-container {
        align-self: center;
        justify-self: center;
    }
}

@media screen and (min-width: 1920px) {

    .header {
        width: 60%;
    }
}


@media screen and (min-width: 2500px) {

    .header {
        width: 58.85%;
    }

    .nav-links {
        left: -17%;       
    }
}

@media screen and (min-width: 2500px) {

    .header {
        width: 58.83%;
    }

    .nav-links {
        left: -17%;       
    }
}

@media screen and (min-width: 2800px) {

    .header {
        width: 58.3%;
    }
}

@media screen and (min-width: 3000px) {
    .header {
        width: 58.01%;
    }
}

/*=====  End of MEDIA QUERIES  ======*/