@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.container-items-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: 60vw;
  background-color: aquamarine;
  background-image: url("/images/desktop-image-hero-1.jpg");
  background-size: cover;
  height: 73vh;
}

.navbar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-left: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .brand-title {
  padding-right: 30px;
  padding-top: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar li {
  list-style: none;
  padding-right: 32px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  line-height: 13px;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  font-size: 12px;
}

.hero-image {
  width: 840px;
  height: 534px;
}

.hero-image-1 {
  background-image: url("/images/desktop-image-hero-1.jpg");
}

.title-text-2,
.title-text-3 {
  display: none;
}

.hero-title {
  position: relative;
  width: 40vw;
  height: 73vh;
  background-color: #5a5959;
}

.hero-title .main-text {
  margin: 0 auto;
  width: 70%;
  padding-top: 25%;
  color: #b8b6b6;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -1.6px;
}

.hero-title .body-text {
  margin: 0 auto;
  width: 70%;
  padding-top: 22px;
  text-align: left;
  color: #b8b6b6;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.hero-title .cta {
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 7.5%;
}

.hero-title .fa-arrow-circle-right {
  padding-left: 10%;
  color: #fff;
  font-size: 40px;
}

.hero-title .fa-arrow-circle-right:hover {
  cursor: pointer;
  color: #dadada;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.hero-title .text p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 10px;
  width: 100%;
  color: #b8b6b6;
}

.hero-title .text p:hover {
  cursor: pointer;
}

.hero-title .arrow-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
}

.hero-title .arrow-icons .fas {
  color: #fff;
  font-size: 30px;
  background-color: black;
  width: 80px;
  height: 80px;
}

.hero-title .arrow-icons .fas:hover {
  background-color: grey;
  cursor: pointer;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

.hero-title .arrow-icons .fa-chevron-left,
.hero-title .arrow-icons .fa-chevron-right {
  text-align: center;
  padding: 25px 25px;
}

.container-items-bottom {
  width: 100vw;
  height: 27vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.about-us-container .about-us-container-texts {
  width: 65%;
  margin: 0 auto;
}

.about-us-container .about-us-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 5px;
  color: black;
  text-transform: uppercase;
}

.about-us-container .about-us-body {
  width: 100%;
  padding-top: 12px;
  color: #A0A0A0;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.sample-img-1,
.sample-img-2 {
  background-repeat: no-repeat;
  width: 40vw;
  height: auto;
}

.sample-img-1 {
  background-image: url("/images/image-about-dark.jpg");
}

.sample-img-2 {
  background-image: url("/images/image-about-light.jpg");
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .container-items-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    width: 100vw;
    background-image: url("/images/mobile-image-hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
  }
  .navbar {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .hero-title {
    width: 100vw;
    height: 80vh;
  }
  .hero-title .main-text,
  .hero-title .body-text {
    width: 85vw;
  }
  .hero-title .main-text {
    font-size: 30px;
  }
  .fa-arrow-circle-right:hover {
    cursor: pointer;
    color: grey;
  }
  .arrow-icons {
    top: -80px;
    right: 0;
  }
  .burger {
    display: block;
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger div {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 30px;
    height: 5px;
    background-color: #6d2e2e;
    margin: 5px;
  }
  .container-items-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  .sample-img-1 {
    margin-top: 630px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-us-container {
    margin-top: 60px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sample-img-2 {
    margin-top: 60px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about-us-container {
    width: 100vw;
  }
  .about-us-container .about-us-container-texts {
    width: 85vw;
  }
  .about-us-container .about-us-container-texts p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 411px) and (max-width: 767px) {
  .header {
    height: 400px;
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .header {
    height: 520px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    height: 520px;
    height: 73vh;
  }
  .cta {
    margin-left: 13.5vh;
  }
  .cta:hover {
    color: #dadada;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 520px;
    height: 73vh;
  }
  .text {
    margin-left: 7.5%;
    text-align: left;
  }
}
/*# sourceMappingURL=styles.css.map */